In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

Linear regression is a supervised learning technique which helps us to predict a variable (dependent variable) on the basis of one or two independent variables. i.e.

\begin{equation}
\ f(x) =  W* X + {b}_i
\end{equation}

where W is the weight, x is the input and b is the bias

to read the csv file and load it into a variable called df we will use the following command.

In [4]:
df = pd.read_excel('salary.xlsx')

In [5]:
# to view the dataframe we will use the following command
df.head()

   Age  Experience  Salary
0   32           6   95000
1   28           4  100000
2   35          11  145000
3   25           2   75000
4   31           8  110000

First we will se the datatypes of the columns in order to bring them in the neccessary format.

In [6]:
df.shape

(36, 3)

In [7]:
df.dtypes

Age           int64
Experience    int64
Salary        int64
dtype: object

In [10]:
# the datatype of salary is object which is datatype of pandas dataframe
# we will convert this into integer type
# df['Salary'] = df['Salary'].str.replace(',','').astype('int')

In [11]:
df.dtypes

Age           int64
Experience    int64
Salary        int64
dtype: object

now we will split the model into features and target variables i.e. X and Y

In [26]:
# x is reshaped into 1D array
x = df[['Experience','Age']]
y = df['Salary']
# to split the data in to testing data and training data,
# we will use the test data to test our model performance
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [27]:
# now we will initiate a model i.e linear regression model
model = LinearRegression()
# .fit(x,y) takes in values of x and y and train the model based on those parameters
model.fit(x_train,y_train)

LinearRegression()

In [32]:
model.predict([[4, 40]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([46444.60112812])

array([99008.46740051]) is the predicted value i.e predicted value is 99000

In [33]:
# now we will test the model
from sklearn.metrics import mean_squared_error, r2_score
y_pred = model.predict(x_test)

In [34]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error: ", mse)
print("R2 Score: ", r2)

Mean Squared Error:  266763140.17821306
R2 Score:  0.9020491051554467

In [35]:
model.score(x_test,y_test)

0.9020491051554467

In [24]:
# which indicates that model is 90%$ accurate