# Quiz Number 1-15 points

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv,sep).

##### (sep='\t') is the hint for tab separated file To import data you have to find this on your own

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [15]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [16]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [17]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9 Check the columns type

In [19]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 10 drop quantity column

In [20]:
chipo.drop('quantity', axis=1)

,order_id,item_name,choice_description,item_price
0,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
2,1,Nantucket Nectar,[Apple],$3.39
3,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...
4617,1833,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 11 Rename The Column name from item_price to Total Revenue

In [22]:
# rename the 'item_price' column to 'Total Revenue'
chipo = chipo.rename(columns={'item_price': 'Total Revenue'})
chipo.head()

,order_id,quantity,item_name,choice_description,Total Revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 12 Create A new Column called 'Your Name' and fill it with your name

In [24]:
chipo['Yor Name'] = "Muhammad Hassan"
chipo

,order_id,quantity,item_name,choice_description,Total Revenue,Yor Name
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,Muhammad Hassan
1,1,1,Izze,[Clementine],$3.39,Muhammad Hassan
2,1,1,Nantucket Nectar,[Apple],$3.39,Muhammad Hassan
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,Muhammad Hassan
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,Muhammad Hassan
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,Muhammad Hassan
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,Muhammad Hassan
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,Muhammad Hassan
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,Muhammad Hassan
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,Muhammad Hassan

### Step 13 drop the row at [1,3,2,5,12,14,7]

In [29]:
# Drop the rows with the specified index values
chipo = chipo.drop(index=[1,3,2,5,12,14,7])

### Step 14 Check how many choice_description unique entries and thier count ?

In [31]:
chipo['choice_description'].value_counts(ascending=False)

[Diet Coke]                                                                                                                  134
[Coke]                                                                                                                       123
[Sprite]                                                                                                                      77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                             40
                                                                                                                            ...
[Tomatillo-Red Chili Salsa (Hot), [Sour Cream, Cheese, Fajita Veggies, Guacamole, Rice, Pinto Beans]]                          1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream]]      1
[Tomatillo Red Chili Salsa, Sour Cream]                                                                                        1
[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Guacamole, Lettuce]]                                                     1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                               1
Name: choice_description, Length: 1042, dtype: int64

### Step 15 Combine the two columns item_name and choice_description and create a new column called item_choice_description ?

In [33]:
chipo['item_choice_description'] = chipo['item_name'] + chipo['choice_description']
chipo

,order_id,quantity,item_name,choice_description,Total Revenue,Yor Name,item_choice_description
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,Muhammad Hassan,NaN
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,Muhammad Hassan,"Chicken Bowl[Tomatillo-Red Chili Salsa (Hot), ..."
6,3,1,Side of Chips,NaN,$1.69,Muhammad Hassan,NaN
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,Muhammad Hassan,"Steak Soft Tacos[Tomatillo Green Chili Salsa, ..."
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,Muhammad Hassan,"Steak Burrito[Fresh Tomato Salsa, [Rice, Black..."
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,Muhammad Hassan,"Steak Burrito[Fresh Tomato Salsa, [Rice, Black..."
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,Muhammad Hassan,"Steak Burrito[Fresh Tomato Salsa, [Rice, Sour ..."
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,Muhammad Hassan,"Chicken Salad Bowl[Fresh Tomato Salsa, [Fajita..."
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,Muhammad Hassan,"Chicken Salad Bowl[Fresh Tomato Salsa, [Fajita..."
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,Muhammad Hassan,"Chicken Salad Bowl[Fresh Tomato Salsa, [Fajita..."

# Best of luck!