In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

Linear regression is a supervised learning technique which helps us to predict a variable (dependent variable) on the basis of one or two independent variables. i.e.

\begin{equation}
\ f(x) =  W* X + {b}_i
\end{equation}

where W is the weight, x is the input and b is the bias

to read the csv file and load it into a variable called df we will use the following command.

In [ ]:
df = pd.read_csv('salary.csv')

In [ ]:
# to view the dataframe we will use the following command
df

    Age  Experience   Salary
0    32           6   95,000
1    28           4  100,000
2    35          11  145,000
3    25           2   75,000
4    31           8  110,000
5    29           5   85,000
6    40          17  160,000
7    26           3   80,000
8    33          10  135,000
9    36          13  136,000
10   27           4   95,000
11   38          15  155,000
12   37          14  150,000
13   30           7  105,000
14   34          11  145,000
15   39          16  160,000
16   45          22  160,000
17   24           1   55,000
18   41          18  154,000
19   43          20  175,000
20   44          21  180,000
21   42          19  165,000
22   47          24  189,000
23   48          25  179,000
24   46          23  180,000
25   49          26  195,000
26   50          27  185,000
27   53          30  195,000
28   51          28  205,000
29   55          32  210,000
30   54          31  205,000
31   57          34  215,000
32   59          36  200,000
33   56          33  215,000
34   60          37  225,000
35   62          39  220,000

First we will se the datatypes of the columns in order to bring them in the neccessary format.

In [ ]:
df.dtypes

Age            int64
Experience     int64
Salary        object
dtype: object

In [ ]:
# the datatype of salary is object which is datatype of pandas dataframe
# we will convert this into integer type
df['Salary'] = df['Salary'].str.replace(',','').astype('int')

In [ ]:
df.dtypes

Age           int64
Experience    int64
Salary        int64
dtype: object

now we will split the model into features and target variables i.e. X and Y

In [ ]:
# x is reshaped into 1D array
x = df[['Experience']]
y = df['Salary']
# to split the data in to testing data and training data,
# we will use the test data to test our model performance
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [ ]:
# now we will initiate a model i.e linear regression model
model = LinearRegression()
# .fit(x,y) takes in values of x and y and train the model based on those parameters
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
model.predict([[4]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([99008.46740051])

array([99008.46740051]) is the predicted value i.e predicted value is 99000

In [ ]:
# now we will test the model
from sklearn.metrics import mean_squared_error, r2_score
y_pred = model.predict(x_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error: ", mse)
print("R2 Score: ", r2)

Mean Squared Error:  255502860.27144587
R2 Score:  0.9061836887127221

In [ ]:
model.score(x_test,y_test)

0.9061836887127221

In [ ]:
# which indicates that model is 90%$ accurate